<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <title>Cinystore | Marketing</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
	<meta property="og:title" content="Cinystore">
	<meta property="og:type" content="website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'marketcss/css/market.css' %}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
		.password-container {
			position: relative;
		}

		#id_password {
			padding-right: 30px; /* Space for the eye icon */
		}

		.eye-toggle {
			position: absolute;
			top: 55%;
			right: 18px;
			transform: translateY(-50%);
			cursor: pointer;
		}
	</style>
</head>
<body>
    <div class="market-signup-main-bg-container">
      <nav class="business-nav-container" id="corporate-business-navbar">
            <div class="navbar-brand d-flex ml-2 ml-md-3">
                <img src="https://www.cinystore.com/static/img/logo.webp" alt="logo" class="business-logo" />
                <div>
                    <h1 class="business-logo-name">CinyStore</h1>
                    <p class="business-logo-name-description">Poora Filmy Hai Boos</p>
                    <p class="business-logo-sub-description">Beta Version</p>
                </div>
            </div>
        </nav>
      {% block header %}

      {% endblock %}
    </div>

</body>
<script>
    // Toggle password visibility
    document.addEventListener('DOMContentLoaded', function () {
        const eyeToggle = document.querySelector('.eye-toggle');
        const passwordField = document.querySelector(eyeToggle.getAttribute('toggle'));

        eyeToggle.addEventListener('click', function () {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                eyeToggle.innerHTML = '👁️'; // Regular eye icon
            } else {
                passwordField.type = 'password';
                eyeToggle.innerHTML = '👁️‍🗨'; // Crossed-eye icon
            }
        });
    });
</script>
</html>