<!DOCTYPE html>
<head>
	<title>Cinystore | Business |Producer reset password form</title>
</head>
{% extends "producerbase.html" %}
{% load static %}


<html lang="en">
<body>
{% block content %}

{% for message in messages  %}
      <strong>Message : </strong> {{ message }}
{% endfor %}


<div class="container">
	<div class="row">
		<div class="col col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12"></div>
		<div class="col col-xl-4 col-lg-4 col-md-12  col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<!-- <h5 class="title"> Forgot Password Form </h5> -->
				</div>
				<div class="ui-block-title">
					<h5 class="title">Forgot Password</h5>
				</div>
				<div class="ui-block-content">
					<!-- Form Favorite Page Information -->
					<form method="post" action="" class="content">
						{% csrf_token %}
                        <div class="row">
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                {{form.as_table}}
                                <div class="p-1"></div>
                                <button class="btn btn-primary btn-lg full-width " type="submit" value="submit">Reset Password</button>
                            </div>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

 {% endblock %}

</body>
</html>
