<!DOCTYPE html>
<head>
	<title>Cinystore | Newsform</title>
</head>
	{% extends "producerhead.html" %}
	{% load static %}
	{% load widget_tweaks %}
	<body>
		{% block header %}
		<div class="container">
			<div class="row">
				<div class="col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12"></div>
				<div class="col col-lg-10 col-md-10 col-sm-10 col-10">
					<div class="ui-block">
						<div class="ui-block-content">
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{{ form.as_p }}
								<button class="btn btn-primary d-grid gap-2 col-4 mx-auto" type="submit" value="submit">Upload</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a class="back-to-top" href="#">
			<svg class="back-icon" width="16" height="18"><use xlink:href="#olymp-back-to-top"></use></svg>
		</a>
	</body>
</html>
{% endblock %}
