<!DOCTYPE html>
<head>
	<title>Cinystore | Business |Producer Updated Profile</title>
</head>
{% extends "producerhead.html" %}
{% load static %}
<html lang="en">
	<body>
	{% block header %}
		<div class="container">
			<div class="row">
				<div class="col col-xxl-9 col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
					<div class="ui-block">
						<div class="ui-block-title">
							<h6 class="title">Personal Information</h6>
						</div>
						<div class="ui-block-content">
							<!-- Personal Information Form  -->
							{% for x in profile %}
							<form method="post" action="{% url 'UpdateProfile' %}" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									<div class="form-group label-floating">
										<label for="production_house_image">Profile Photo</label>
										<input type="file" class="form-control" id="production_house_image" name="production_house_image">
									</div>
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label for="production_house" class="control-label">Producer House Name</label>
											<input class="form-control" type="text" value="{{ x.production_house }}" name = production_house id="production_house" readonly>
										</div>
									</div>
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label for="producer_email" class="control-label">Producer Email</label>
											<input class="form-control" type="email" value="{{ x.producer_email }}" name="producer_email" id="producer_email" readonly>
										</div>
									</div>
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label for="producer_first_name" class="control-label">First Name</label>
											<input class="form-control" type="text" value= "{{ x.producer_first_name }}" name="producer_first_name" id="producer_first_name">
										</div>
									</div>
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating">
											<label for="producer_last_name" class="control-label">Last Name</label>
											<input class="form-control" type="text" value= "{{ x.producer_last_name }}" id="producer_last_name" name="producer_last_name">
										</div>
									</div>
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
										<div class="form-group label-floating is-empty">
											<label for="producer_phone_number" class="control-label">Your Phone Number</label>
											<input class="form-control" type="tel" value= "{{ x.producer_phone_number }}" id="producer_phone_number" name="producer_phone_number">
										</div>
									</div>
									
									<div class="col col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">						
										<div class="form-group label-floating">
											<label for="producer_website" class="control-label">Your Website</label>
											<input class="form-control" type="text" value= "{{ x.producer_website }}"id="producer_website" name="producer_website">
										</div>
									</div>
									<div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label for="producer_country_name" class="control-label">Your Country</label>
											<select class="form-select" type="text" name="producer_country_name" id="producer_country_name">
												<option value="{{x.producer_country_name}}">{{x.producer_country_name}}</option>
												<option value="India">India</option>
												<option value="USA">USA</option>
											</select>
										</div>
									</div>
									<div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label for="producer_state" class="control-label">Your State / Province</label>
											<select class="form-select" type="text" name="producer_state" id="producer_state">
												<option value="{{x.producer_state}}">{{x.producer_state}}</option>
												<option value="Andhra Pradesh">Andhra Pradesh</option>
												<option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
												<option value="Arunachal Pradesh">Arunachal Pradesh</option>
												<option value="Assam">Assam</option>
												<option value="Bihar">Bihar</option>
												<option value="Chandigarh">Chandigarh</option>
												<option value="Chhattisgarh">Chhattisgarh</option>
												<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
												<option value="Daman and Diu">Daman and Diu</option>
												<option value="Goa">Goa</option>
												<option value="Gujarat">Gujarat</option>
												<option value="Haryana">Haryana</option>
												<option value="Himachal Pradesh">Himachal Pradesh</option>
												<option value="Jharkhand">Jharkhand</option>
												<option value="Karnataka">Karnataka</option>
												<option value="Kerala">Kerala</option>
												<option value="Lakshadweep">Lakshadweep</option>
												<option value="Madhya Pradesh">Madhya Pradesh</option>
												<option value="Maharashtra">Maharashtra</option>
												<option value="Manipur">Manipur</option>
												<option value="Meghalaya">Meghalaya</option>
												<option value="Mizoram">Mizoram</option>
												<option value="Nagaland">Nagaland</option>
												<option value="Odisha">Odisha</option>
												<option value="Punjab">Punjab</option>
												<option value="Puducherry">Puducherry</option>
												<option value="Rajasthan">Rajasthan</option>
												<option value="Sikkim">Sikkim</option>
												<option value="Tamil Nadu">Tamil Nadu</option>
												<option value="Telangana">Telangana</option>
												<option value="Tripura">Tripura</option>
												<option value="Uttar pradesh">Uttar pradesh</option>
												<option value="Uttarakhand">Uttarakhand</option>
												<option value="West Bangal">West Bangal</option>
											</select>
										</div>
									</div>
									<div class="col col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
										<div class="form-group label-floating is-select">
											<label for="producer_city" class="control-label">Your City</label>
											<select class="form-select" type="text" name="producer_city" id="producer_city">
												<option value="{{x.producer_city}}">{{x.producer_city}}</option>
												<option value="Amaravati">Amaravati</option>
												<option value="Itanagr">Itanagr</option>
												<option value="Dispur">Dispur</option>
												<option value="patna">patna</option>
												<option value="Raipur">Raipur</option>
												<option value="Panaji">Panaji</option>
												<option value="Gandhi Nagar">Gandhi Nagar</option>
												<option value="Chandigarh">Chandigarh</option>
												<option value="Shimla">Shimla</option>
												<option value="Ranchi">Ranchi</option>
												<option value="Bengaluru">Bengaluru</option>
												<option value="Thiruvananthapuram">Thiruvananthapuram</option>
												<option value="Bhopal">Bhopal</option>
												<option value="Mumbai">Mumbai</option>
												<option value="Imphal">Imphal</option>
												<option value="Shilong">Shilong</option>
												<option value="Aizawl">Aizawl</option>
												<option value="Bhubaneswar">Bhubaneswar</option>
												<option value="Jaipur">Jaipur</option>
												<option value="Gangtok">Gangtok</option>
												<option value="Chennai">Chennai</option>
												<option value="Hyderabad">Hyderabad</option>
												<option value="Agartala">Agartala</option>
												<option value="Lucknow">Lucknow</option>
												<option value="Dehradun(winter)&Gairain(summer)">Dehradun(winter)&Gairain(summer)</option>
												<option value="Kolkata">Kolkata</option>
											</select>
										</div>
									</div>
									<div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<textarea class="form-control" placeholder="Write a little description about you"  id="production_house_brief" name="production_house_brief" cols="5" rows="5">{{ x.production_house_brief }}</textarea>
										</div>
									</div>
									<div class="col col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
										<div class="form-group with-icon label-floating">
											<label for="producer_facebook_account" class="control-label">Your Facebook Account</label>
											<input class="form-control" type="text" id="producer_facebook_account" name="producer_facebook_account">
											<svg class="c-facebook" width="20" height="20"><use xlink:href="#olymp-facebook-icon"></use></svg>
										</div>
										<div class="form-group with-icon label-floating">
											<label for="producer_twitter_account" class="control-label">Your Twitter Account</label>
											<input class="form-control" type="text" id="producer_twitter_account" name="producer_twitter_account">
											<svg class="c-twitter" width="20" height="20"><use xlink:href="#olymp-twitter-icon"></use></svg>
										</div>
									</div>
									<div class="">
										<button class="btn btn-primary d-grid gap-2 col-6 mx-auto" type="submit" value="submit">
											Save all Changes
										</button>
									</div>
								</div>
							</form>
							{% endfor %}
							<!-- ... end Personal Information Form  -->
						</div>
					</div>
				</div>
				<div class="col col-xxl-3 col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
					<div class="ui-block">
						<!-- Your Profile  -->
						<div class="your-profile">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your PROFILE</h6>
							</div>
							<div class="accordion" id="accordionExample1">
								<div class="accordion-item">
									<h6 class="accordion-header" id="headingOne1">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
											Profile Settings
											<svg class="olymp-dropdown-arrow-icon"><use xlink:href="#olymp-dropdown-arrow-icon"></use></svg>
										</button>
									</h6>
									<div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
										<div class="accordion-body">
											<ul class="your-profile-menu">
												<li>
													<a href="/profile">Personal Information</a>
												</li>
												<li>
													<a href="#">Account Settings</a>
												</li>
												<li>
													<a href="{% url 'producer_change_password' %}">Change Password</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ... end Your Profile  -->
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
		<a class="back-to-top" href="#">
			<svg class="back-icon" width="14" height="18"><use xlink:href="#olymp-back-to-top"></use></svg>
		</a>
		<!-- JS Scripts -->
		<script src="js/jQuery/jquery-3.5.1.min.js"></script>

		<script src="js/libs/jquery.mousewheel.min.js"></script>
		<script src="js/libs/perfect-scrollbar.min.js"></script>
		<script src="js/libs/imagesloaded.pkgd.min.js"></script>
		<script src="js/libs/material.min.js"></script>
		<script src="js/libs/selectize.min.js"></script>
		<script src="js/libs/moment.min.js"></script>
		<script src="js/libs/daterangepicker.min.js"></script>
		<script src="js/libs/isotope.pkgd.min.js"></script>
		<script src="js/libs/ajax-pagination.min.js"></script>
		<script src="js/libs/jquery.magnific-popup.min.js"></script>

		<script src="js/main.js"></script>
		<script src="js/libs-init/libs-init.js"></script>

		<script src="Bootstrap/dist/js/bootstrap.bundle.min.js"></script>

		<!-- SVG icons loader -->
		<script src="js/svg-loader.js"></script>
		<!-- /SVG icons loader -->

	</body>
</html>
