<!DOCTYPE html>
{% extends "producer_base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Movie_name').on('input', function () {
                var Movie_name = $(this).val();
                $.ajax({
                    url: '{% url "business:check_movie_exists" %}',
                    data: { 'Movie_name': Movie_name },
                    success: function (response) {
                        if(!Movie_name){
							$('#availability-message').text('');
						}else{

							if (response.available) {
                            $('#availability-message').text('');
                        	} else {
                            $('#availability-message').text('Movie already Exists, Please go add a Post!');
                        	}
						}
                    }
                });
            });
        });
	</script>
    
	<style>
	.main-header.main-landing p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #38a94b;
    font-family: "Pensum","Times New Roman",times,serif;
    font-weight: 400;}
	</style>
{% block header %}
<div class="producer-content-main-bg-container">
    <div class="producer-content-top-text-div">
        {% for x in producer_base %}
                {% if forloop.counter <= 1 %}
                <a href="{% url 'business:producer_content' x.production_house %}" style="text-decoration:none;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
              <path d="M7 1L1 7L7 13" stroke="#1E1E2D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p>Back</p>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <h1 class="producer-label-main-heading">Create Label</h1>
    
    
    <form class="producer-label-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Movie_name" class="producer-label-input-heading">Movie Name*</label>
                        <input type="text" id="Movie_name" name="Movie_name" class="producer-label-input-fields" placeholder="Movie name"/>
                        <p id="availability-message" style="color:red;"></p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Genre" class="producer-label-input-heading">Genre*</label>
                        <select id="Genre" name="Genre" class="producer-label-input-fields">
                            <option value="Comedy, Drama">Comedy, Drama</option>
                            <option value="Horror, Comedy">Horror, Comedy</option>
                            <option value="Scifi">Scifi</option>
                            <option value="Thriller, Comedy">Thriller, Comedy</option>
                            <option value="Action, Comedy">Action, Comedy</option>
                            <option value="Action, Drama, Historic">Action, Drama, Historic</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Language" class="producer-label-input-heading">Language*</label>
                        <select id="Language" name="Language" class="producer-label-input-fields">
                            <option value="Telugu">Telugu</option>
                            <option value="Hindi">Hindi</option>
                            <option value="Kannada">Kannada</option>
                            <option value="Malayalam">Malayalam</option>
                            <option value="Tamil">Tamil</option>
                            <option value="English">English</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Other_Languages" class="producer-label-input-heading">Other Language*</label>
                        <input type="text" id="Other_Languages" name="Other_Languages" class="producer-label-input-fields" placeholder="Enter language" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Production_house" class="producer-label-input-heading">Production House*</label>
                        <input type="text" id="Production_house" name="Production_house" class="producer-label-input-fields" placeholder="Enter production house" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Producer" class="producer-label-input-heading">Producer*</label>
                        <input type="text" id="Producer" name="Producer" class="producer-label-input-fields" placeholder="Enter producer" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Director" class="producer-label-input-heading">Director*</label>
                        <input type="text" id="Director" name="Director" class="producer-label-input-fields" placeholder="Enter director" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Music_director" class="producer-label-input-heading">Music Director*</label>
                        <input type="text" id="Music_director" name="Music_director" class="producer-label-input-fields" placeholder="Enter music director" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="lyricist" class="producer-label-input-heading">Lyricist</label>
                        <input type="text" id="lyricist" name="lyricist" class="producer-label-input-fields" placeholder="Enter lyricist" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Singers" class="producer-label-input-heading">Singers</label>
                        <input type="text" id="Singers" name="Singers" class="producer-label-input-fields" placeholder="Enter singers" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="cast" class="producer-label-input-heading">Cast*</label>
                        <input type="text" id="cast" name="cast" class="producer-label-input-fields" placeholder="Enter cast" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="choreographer" class="producer-label-input-heading">Choreographers</label>
                        <input type="text" id="choreographer" name="choreographer" class="producer-label-input-fields" placeholder="Enter choreographers" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Script_writer" class="producer-label-input-heading">Script Writer</label>
                        <input type="text" id="Script_writer" name="Script_writer" class="producer-label-input-fields" placeholder="Enter script writer" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Editor" class="producer-label-input-heading">Editor</label>
                        <input type="text" id="Editor" name="Editor" class="producer-label-input-fields" placeholder="Enter editor" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Cinematographer" class="producer-label-input-heading">Cinematographer</label>
                        <input type="text" id="Cinematographer" name="Cinematographer" class="producer-label-input-fields" placeholder="Enter cinematographer" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Running_Time" class="producer-label-input-heading">Runtime</label>
                        <input type="text" id="Running_Time" name="Running_Time" class="producer-label-input-fields" placeholder="Enter runtime" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Maturity" class="producer-label-input-heading">Film Certification</label>
                        <select id="Maturity" name="Maturity" class="producer-label-input-fields">
                            <option value="U">U</option>
                            <option value="U/A">U/A</option>
                            <option value="A">A</option>
                            <option value="Not Certified Yet">Not Certified Yet</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Distribution" class="producer-label-input-heading">Distributor</label>
                        <input type="text" id="Distribution" name="Distribution" class="producer-label-input-fields" placeholder="Enter distributor" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Recording_studio" class="producer-label-input-heading">Recording Studio</label>
                        <input type="text" id="Recording_studio" name="Recording_studio" class="producer-label-input-fields" placeholder="Enter recording studio" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Budget" class="producer-label-input-heading">Budget</label>
                        <input type="text" id="Budget" name="Budget" class="producer-label-input-fields" placeholder="Enter budget" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Release_date" class="producer-label-input-heading">Release Date*</label>
                        <input type="date" id="Release_date" name="Release_date" class="producer-label-input-fields" placeholder="Enter release date" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="trailer" class="producer-label-input-heading">Trailer Link*</label>
                        <input type="text" id="trailer" name="trailer" class="producer-label-input-fields" placeholder="Enter trailer link" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <p class="producer-label-input-heading">Upload Posters*</p>
                        <label for="Poster"  class='producer-label-upload-text'>
                            <input id="Poster" name="Poster" type="file" hidden/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                              <path d="M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.8337 9.33333L14.0003 3.5L8.16699 9.33333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14 3.5V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Upload file
                        </label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <p class="producer-label-input-heading">Upload Banner*</p>
                        <label for="Banner" class='producer-label-upload-text'>
                            <input id="Banner" name="Banner" type="file" hidden/>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                              <path d="M24.5 17.5V22.1667C24.5 22.7855 24.2542 23.379 23.8166 23.8166C23.379 24.2542 22.7855 24.5 22.1667 24.5H5.83333C5.21449 24.5 4.621 24.2542 4.18342 23.8166C3.74583 23.379 3.5 22.7855 3.5 22.1667V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.8337 9.33333L14.0003 3.5L8.16699 9.33333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M14 3.5V17.5" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Upload file
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Graphic_designer" class="producer-label-input-heading">CG Team</label>
                        <input type="text" id="Graphic_designer" name="Graphic_designer" class="producer-label-input-fields" placeholder="Enter CG team" />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="producer-label-input-bg-container">
                        <label for="Url_name" class="producer-label-input-heading">URL name</label>
                        <input type="text" id="Url_name" name="Url_name" class="producer-label-input-fields" placeholder="Enter url name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="producer-label-input-bg-container">
                        <label for="synopsis" class="producer-label-input-heading">Synopsis/Plotline*</label>
                        <textarea type="text" id="synopsis" name="synopsis" rows="6" cols="100" class="producer-label-textarea-fields" placeholder="Enter synopsis"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" value="submit" class="producer-label-btn">Upload</button>
    </form>
</div>
{% endblock %}
</body>
</html>