<!DOCTYPE html>
{% extends "businessBase.html" %}
<html>
{% load static %}
<body>
    {% block header %}
        <div class="container">
            <div class="row d-none d-md-block">
				<div class="col-12 mt-5">
					<div class="connecting-bg-container mt-5">
					  <div class="connecting-container">
						  
					  </div>
			        </div>
				</div>
			</div>
            <div class="row">
                <div class="col-12 col-md-7">
                    <div class="password-page-text-container">
                        <p class="password-page-text">Hey there!</p>
                        <p class="password-page-text">Its fantastic to have you with us !<br/>
                            Welcome to the Cinystore family. <br/>
                            We are thrilled that you have chosen us to be part of your family.
                        </p>
                        <p class="password-page-text mt-4">Few quick details for you to share before you can create your Label.</p>
                    </div>
					<div class="password-page-btn-container">
						<p class="password-page-text">Do Not have an account?
							<a href="{% url 'keepitshort:kis_team_register' %}" >Create </a>
						</p>
						</div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="password-page-container">
                        <div class="password-form-bg-container">
                            <h1 class="password-page-heading">Login</h1>
                            <form method="POST">
                                {% csrf_token %}
								{% if messages %}
									{% for message in messages %}
										<p class="-alert alert-{{ messages.last.tags }} alert-dismissible fade show" role="alert" style="color: white;">{{ message }}</p>
									{% endfor %}
								{% endif %}
                                 <div class="password-page-inputs-container">
                                    <label for="Email" class="password-page-input-texts">Email ID</label>
                                    <input type="email" id="email" name="email" class="password-page-input-fields" placeholder="Registered Mail ID"/>
                                </div>
                                <div class="password-page-inputs-container">
                                    <label for="password" class="password-page-input-texts">Password</label>
                                    <input type="password" id="password" name="password" class="password-page-input-fields" placeholder="Password"/>
                                </div>
                                <div class="password-page-btn-container">
                                    <button type="submit" class="password-page-btn" style="color: #000;">
                                       <span>
                                           Submit
                                       </span>
                                    </button>
									
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
</body>

</html>